@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  /* Colors */
  --color-brown: #37261f;
  --color-darkblue: #000038;
  --color-green: #003c00;

  /* Body */
  --font-display: var(--font-PTSerif), sans-serif;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}